page-sic-konwledge {
  .padding-none {
    padding: 0px !important;
  }
  .borderbottom {
    border-bottom: 1px solid blue;
  }
  //搜索框
  .mysearch{
    padding: 0px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
    background: none;
    width: 90%;
  }
}
